@use '../abstracts/' as *;

.category-picker{
    select {
        font-family: $Lato;
        margin-bottom: 1em;
        padding: .25em;
        border: 0;
        border-bottom: 2px solid currentcolor; 
        font-weight: bold;
        letter-spacing: .15em;
        border-radius: 0;
        text-align: center;
        &:focus, &:active {
          outline: 0;
          border-bottom-color: $red
        }

        width: 250px;
      
        @media (max-width: 540px) {
          width: 80%;
        }
        

      }

    div img{
        @media(max-width: 540px){
            display: none;
          }
          @media(min-width:600px){     
            display: inline;
            }
    }

}